<div class="nav1" #nav>
  <nav>
    <div class="logoDesplegables">
      <a href="#sobre"><b><i class="icofont-world"></i> Lorem</b>.com</a>
      <a  class="option" href="#work">Lorem <i class="icofont-thin-down"></i></a>
      <a class="option" href="#study">Lorem <i class="icofont-thin-down"></i></a>
      <a class="option" href="#contact">Lorem <i class="icofont-thin-down"></i></a>
      <button (click)="menuHburguer()" class="men">
        <span *ngIf="!menu"> <i class="icofont-navigation-menu"></i></span>
        <span *ngIf="menu"><i class="icofont-ui-close"></i></span>
      </button>
    
      <div class="nav" *ngIf="menu">
        <nav>
          <a href="#work">Lorem <i class="icofont-thin-down"></i></a>
          <a href="#study">Lorem <i class="icofont-thin-down"></i></a>
          <a href="#contact">Lorem <i class="icofont-thin-down"></i></a>
        </nav>
      </div>
    </div>

    <div class="acceso">
      <a href="">Login</a>
      <a href="">Get in touch</a>
    </div>

  </nav>
</div>
<header class="head">
  
  <div class="header">
    <div class="mayor">
      <div class="texto">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque illo totam quaerat, fuga error sint quos
          accusantium a tenetur adipisci, consectetur quam et! Itaque repellendus sunt tempore, sit omnis enim?</p>
        <div class="botones">
          <button>Learn more</button>
          <button>Contact us</button>
        </div>
        <p class="textoBajo">Lorem ipsum dolor sit amet.</p>
      </div>
      <img src="assets/analisis1.png" alt="">
      <img class="circulos" src="assets/circulo.png" alt="">
    </div>
    <div class="esp">
      <div>
        <img src="assets/Logos/R.png" alt="">
        <img src="assets/Logos/R (2).png" alt="">
        <img src="assets/Logos/R (3).png" alt="">
        <img src="assets/Logos/R (4).png" alt="">
        <img src="assets/Logos/R (1).png" alt="">
      </div>
    </div>
  </div>
</header>

<div class="sobre" id="sobre">
  <div class="animar" #presentar>
    <div class="presentacion">
      <a href="#">Loremipsum.com</a>
      <h2>Lorem ipsum dolor sit. Earum exercitationem</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum exercitationem, molestiae quia delectus expedita
        dolorum aspernatur adipisci laborum debitis distinctio beatae rem odit, veniam quibusdam commodi amet nesciunt
        voluptatibus sint vel! Saepe quidem ut commodi nisi eaque totam perferendis autem..
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam natus dolorum laboriosam, eveniet illum hic.
        Asperiores vel facilis quidem repellendus similique magnam hic blanditiis, neque nostrum. Ipsa recusandae
        facilis sed.
      </p>
    </div>
  </div>
  <div class="img">
    <img src="assets/analisis2.png" alt="">
  </div>
  <div class="datos" #datos>
    <div>
      <h2>Lorem, ipsum dolor.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id corporis reiciendis nulla accusamus aspernatur
        dignissimos blanditiis delectus sed quam odit?</p>
    </div>
    <div>
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptate at saepe, alias reiciendis et
        reprehenderit explicabo ducimus laborum mollitia. </p>
    </div>
    <div>
      <h2>Lorem, ipsum.</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos numquam in dolores repellat sit vero.</p>
    </div>
    <div>
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio corrupti iure itaque qui maxime autem velit
        aliquid! veritatis ratione itaque, eos nobis tempora, excepturi autem?</p>
    </div>
    <div>
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa qui debitis illo alias tempora non commodi.
        Nihil tempora maxime quos? </p>
    </div>
  </div>

</div>

<div class="explore">
  <div class="contenido">
    <div class="title">
      <p>Products</p>
      <h2>Lorem ipsum dolor sit amet consectetur.</h2>
    </div>
    <img class="circulos" src="assets/circulo.png" alt="">
    <div class="cajas" #cajas>
      <div #caja id="0">
        <h3>Lorem ipsum dolor sit.</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis quis rem vitae enim cum!</p>
        <a href="#">Learn more <i class="icofont-thin-down"></i></a>
      </div>
      <div #caja id="1">
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quaerat laudantium repellendus nisi cumque dolore
          quia unde dignissimos error in?</p>
        <a href="#">Learn more <i class="icofont-thin-down"></i></a>
      </div>
      <div #caja id="2">
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eius molestiae accusantium quo enim expedita
          quasi eos dolorum.</p>
        <a href="#">Learn more <i class="icofont-thin-down"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="anuncios">
  <div>

    <img src="https://www.bing.com/images/blob?bcid=TijvLr-PUvMEog" alt="">
    <img src="https://www.bing.com/images/blob?bcid=Tp3zudeQvfMEOQ" alt="">
    <img src="https://www.bing.com/images/blob?bcid=Tpb0mGAzTfMEUwg" alt="">
    <img src="https://www.bing.com/images/blob?bcid=TkDi0cbH1vMEjQ" alt="">
    <img src="https://www.bing.com/images/blob?bcid=Tr0ZQsbCJfME2A" alt="">
    <img src="https://www.bing.com/images/blob?bcid=Tp5Z51flBPME4g" alt="">
    <img src="https://www.bing.com/images/blob?bcid=TsjpKN8PqvMEJA" alt="">
    <img src="https://www.bing.com/images/blob?bcid=TvlNqXobvvMEig" alt="">
    <img src="https://www.bing.com/images/blob?bcid=Tk35C7OrVPMEUg" alt="">
    <img src="https://www.bing.com/images/blob?bcid=TlYg4lxGEPMEhQ" alt="">

  </div>

</div>

<div class="customers">
  <div class="titles">
    <p>Customers story</p>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <div class="ver">
      <a href="#">Ver todos los casos </a>
      <i class="icofont-long-arrow-right"></i>
    </div>
  </div>

  <div class="contenido">
    <div class="primero">
      <div>
        <b>Log</b>
        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores vel magnam molestiae expedita neque
          cupiditate.</p>
      </div>

      <img src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
    </div>
    <div class="segundo">
      <div>
        <b>Logo</b>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt quam, eum amet voluptas maxime odio.</p>
      </div>

      <img src="https://images.unsplash.com/photo-1556740738-b6a63e27c4df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
    </div>
    <div class="contiene">
      <div class="carousel">
        <div #caru_item class="caru-item" *ngFor="let item of comentarios.array" id="{{item.id}}">
          <b>"{{item.comentario}}"</b>

          <img src="assets/Logos/comillas.png" alt="">

          <div class="mas">
            <b>Lorem ipsum dolor sit amet.</b>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
        </div>

      </div>
      <div class="indicadores">
        <i class="icofont-long-arrow-left" (click)="back()"></i>
        <ng-container  *ngFor="let item of comentarios.array">
          <a (click)="cambiar(item.id)" [ngStyle]="{'background':item.id == colorIndicador? '#26d6d9a2': 'rgba(85, 85, 85, 0.616)' }"></a>
        </ng-container>
        <i class="icofont-long-arrow-right" (click)="nex()"></i>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="contact">
    <div>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing. </h2>
      <button>Contact us</button>
    </div>
    <div></div>
  </div>
  <div class="cuerpo">
    <div class="marcaIdiomas">
      <div class="marca">
        <p><b>Lorem</b>.com</p>
      </div>
      <div class="idiomas">
        <select name="select" id="select">
          <option value="English">English</option>
          <option value="Spanish">Spanish</option>
        </select>
      </div>
    </div>
    <div class="servicios">
      <div>
        <H5>PRODUCTS & NETWORKS</H5>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem</p>
        <p>Payouts</p>
        <p>Integration</p>
        <p>Partners</p>
        <p>Lorem, ipsum.</p>
        <p>Fraud protection</p>
        <p>Pricing</p>
        <p>Others</p>
      </div>
      <div>
        <H5>SOLUTIONS</H5>
        <p>eComerce</p>
        <p>Fintech</p>
        <p>Gaming</p>
        <p>Crypto</p>
      </div>
      <div>
        <H5>COMPANY</H5>
        <p>Our mission</p>
        <p>Our costumers</p>
        <p>Newsroom</p>
        <p>Contact us</p>
        <p>Open position</p>
        <p>Diversity & inclusion</p>
      </div>
      <div>
        <H5>DEVELOPERS</H5>
        <p>Documentation</p>
        <p>API ref</p>
        <p>Test acount</p>
      </div>
      <div>
        <H5>RESOURCES</H5>
        <p>Blog</p>
        <p>Case studies</p>
        <p>Support</p>
      </div>
    </div>
    <div class="redesFirma">
      <a target="_blank" href="https://diego-kemer-cd785.web.app/"><b>@2022 Diego Kemer</b></a>
      <div class="politicas">
        <p>Términos y políticas</p>
        <p>Privacidad</p>
        <p>Normativa</p>
        <p>Configuración de cookies</p>
        <p>Aviso legal</p>
        <p>Lorem ipsum dolor sit.</p>
        <p>Código de lorem</p>
        <p>Declaración de accesibilidad</p>
      </div>
      <div class="redes">
        <div class="diegoK">
          <p>Diego Kemer es un desarrollador web autónomo. Para conocer más accede a <a target="_blank"
              href="https://diego-kemer-cd785.web.app/">su porfolio</a>.</p>
        </div>
        <div class="socials">
          <a target="_blank" href="https://www.instagram.com/kemerdiego/"><i class="icofont-instagram"></i></a>
          <a target="_blank" href="https://www.facebook.com/diego.kemer.5/"><i class="icofont-facebook"></i></a>
          <a target="_blank"
            href="https://www.linkedin.com/in/diego-kemer-desarrollador-web-junior-angular-242002222/"><i
              class="icofont-linkedin"></i></a>
          <a target="_blank" href="mailto:diegokemer26@gmail.com?subject=Consulta"><i class="icofont-email"></i></a>
          <a target="_blank" href="https://github.com/Diego-Kemer"><i class="icofont-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>