/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --prim: #0d1243;
    --seg: #26d6d9;
}
html{
    scroll-behavior: smooth;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}
h2{
    font-size: 2.5rem;
}
@media (max-height: 830px) {
    html{
        font-size: 12px;
    }
}
